---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
<head>
{% include css.html %}
</head>
<body>
{% include header.html %}
<div id="container">
	{% include sidebar.html %}
	<div id="page_content">
	<hr/>
	<h4>Why choose us?</h4>
	<ul>
	<li>We get the job done right, the first time. We don't want to see you a week later with the same issue!</li>
	<li>Our methods and tools are some of the best in the industry; if we can't fix it, then nobody can!</li>
	<li>We feature affordable pricing, regardless of your situation or budget; we always give you options to choose from!</li>
	</ul>
	<hr/>
	<h4>A little bit about us...</h4>
	Based on Bainbridge Island, WA, we provide PC software &amp; hardware support and sales, network setup, server administration, and tech support for the home, home business, and small business sectors for the Bainbridge Island and Poulsbo areas at affordable rates.
	</div>
</div>
{% include footer.html %}
</body>
</html>
