---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
<head>
{% include css.html %}
</head>
<body>
{% include header.html %}
<div id="container">
	{% include sidebar.html %}
	<div id="page_content">
	<hr/>
	<h4>Services</h4>
	We can support your home or business with support in almost all facets of technology, thanks to the variety of services we offer, which include:
	<ul>
	<li>PC Repair</li>
                <li>PC Support</li>
                <li>PC Security</li>
                <li>PC Training</li>
                <li>PC Software Licensing</li>
                <li>Home &amp; Small Business Network Setup</li>
                <li>Server Administration</li>
                <li>Data Recovery</li>
		<li>Website Hosting and Administration</li>
                <li>Mobile Device Repair</li>
                <li>...and more!</li>
                </ul>
                <br\>
                <br\>
                Contact us if you would like more information!
	</div>
</div>
{% include footer.html %}
</body>
</html>
